@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap&#039");

@import "tailwindcss";

body {
  background-color: #f1f5f8;
}

span {
  font-family: "Great Vibes", cursive;
  font-weight: 600;
  font-style: normal;
}
